################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Samer.CsvBuilder/bin/
/Samer.CsvBuilder/obj/
